{{- define "remote_target" }}
  action(type="omrelp"
         name="fwd_to_logserver"
         target="{{getenv "TARGET"}}"
         template="ForwardFormatWithToken"
         port="5515"
         queue.type="LinkedList"
         queue.filename="fwd_queue"
         action.resumeretrycount="-1"
         queue.dequeuebatchsize="100"
         queue.saveonshutdown="on"
         queue.discardseverity="8"
         queue.timeoutenqueue="0"
         queue.maxdiskspace="1g"
         queue.highwatermark="8000"
         queue.lowwatermark="2000"
         queue.size="10000"
         queue.discardmark="9750"
         tls="on"
  )
{{ end }}

module(load="imudp")
module(load="imtcp")
module(load="imrelp")
module(load="omrelp")
module(load="mmjsonparse")

input(type="imudp" port="1514" ruleset="syslog")
input(type="imtcp" port="1514" ruleset="syslog")
input(type="imrelp" port="2514" tls="off" ruleset="cee")
input(type="imrelp" port="2515" tls="on" ruleset="cee")

$PrivDropToUser syslog
$PrivDropToGroup syslog

$MaxMessageSize 32k
$WorkDirectory /var/spool/rsyslog
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

#TODO: kill rate limiting


# File path templates
template(name="SyslogDynFile" type="string" string="/var/log/%$now%/syslog/%hostname%/%programname%.%syslogfacility-text%.%syslogseverity-text%.log")
template(name="InternalDynFile" type="string" string="/var/log/%$now%/internal/%programname%.%syslogfacility-text%.%syslogseverity-text%.log")
template(name="JournaldDynFile" type="string" string="/var/log/%$now%/journald/%hostname%/%programname%.%syslogfacility-text%.%syslogseverity-text%.log")
template(name="ContainersDynFile" type="string" string="/var/log/%$now%/containers/%.containername%-%.containerid%.log")

# Log lines templates
template(name="ForwardFormatWithToken" type="string" string="<%PRI%>%TIMESTAMP:::date-rfc3339% %HOSTNAME% %syslogtag:1:64% TOKEN@{{getenv "TOKEN"}} %msg:::sp-if-no-1st-sp%%msg%")
#template(name="CEETemplate" type="string" string="%TIMESTAMP% %HOSTNAME% %syslogtag% %$!all-json%\n")
template(name="CEEsimple" type="string" string="%TIMESTAMP:::date-rfc3339%: %$.msg%\n")
#template(name="PureJSON" type="string" string="%$!all-json%\n")

ruleset(
  name="cee"
  queue.type="LinkedList"
) {
  action(type="mmjsonparse")
  set $.containername = $!CONTAINER_NAME;
  set $.containerid = $!CONTAINER_ID;
  set $.msg = $!MESSAGE;

  if ($.containername != "") then {
    call containers
  } else {
    call journald
  }
}

ruleset(
  name="syslog"
  queue.type="LinkedList"
) {
  action(type="omfile"
         name="syslog_dyn_file"
         dynaFile="SyslogDynFile"
         dirCreateMode="0755"
         FileCreateMode="0644"
  )
}

ruleset(
  name="internal"
  queue.type="LinkedList"
) {
  action(type="omfile"
         name="internal_dyn_file"
         dynaFile="InternalDynFile"
         dirCreateMode="0755"
         FileCreateMode="0644"
  )
}

ruleset(
  name="journald"
  queue.type="LinkedList"
) {
  action(type="omfile"
         name="journald_dyn_file"
         dynaFile="JournaldDynFile"
         template="CEEsimple"
         dirCreateMode="0755"
         FileCreateMode="0644"
  )
}

ruleset(
  name="containers"
  queue.type="LinkedList"
) {
  action(type="omfile"
         name="containers_dyn_file"
         dynaFile="ContainersDynFile"
         #template="RSYSLOG_DebugFormat"
         template="CEEsimple"
         dirCreateMode="0755"
         FileCreateMode="0644"
  )
}

if ($inputname == "rsyslogd") then {
  call internal
}

#TODO: reenable remote logging
#{{ if ne "" (getenv "TARGET") -}}
#{{ template "remote_target" -}}
#{{ end -}}

